<%- include("partials/unauthenticatednavbar") %>
    <br><br><div class="container red-text" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        <h4>
            <%= error.status %> <%= message %>
        </h4>
    </div>
    
    
<%- include("partials/footer") %>